.env

# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
html/wp-admin/
html/wp-content/index.php
html/wp-content/languages
html/wp-content/plugins/index.php
html/wp-content/themes/index.php
html/wp-includes/
html/index.php
html/license.txt
html/readme.html
html/wp-*.php
html/xmlrpc.php

# Configuration
html/wp-config.php

# Uploads
html/wp-content/uploads/

# Log files
*.log

# htaccess
.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
html/wp-content/plugins/*
html/wp-content/mu-plugins/*
!html/wp-content/mu-plugins/*.php

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
html/wp-content/themes/*
!html/wp-content/themes/shmdh-theme

# Secrets
html/auth.json

# Composer
html/vendor

.DS_Store